<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Lunch Roulette</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <!-- confirmed: we have bootstrap -->
    <div class="container">
      <div id='cssmenu'>
        <ul>
           <li class='active'><a href='home.html'><span>Home</span></a></li>
           <li><a href='settings.html'><span>Settings</span></a></li>
           <li><a href='history.html'><span>Full History</span></a></li>
           <li class='last'><a href='profile.html'><span>My Profile</span></a></li>
         <!--
           <li>
             <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
           </li>
         -->
        </ul>
      </div>

      <div class="row">
        <div class="product">
          <img class="img-responsive" src="images/logo.png" style="margin-top: 40px;"></img>
        </div>
      </div>
      <div class="row">
        <div class="history-container">
          <div>.</div>
          <h1 class="homepage-text">History</h1>
          <h5 class="homepage-text">1/26/16 * You went to lunch with</h5>
          <p class="homepage-text">Mary, Jack and Jill @<break>Pizza Hut</h5>
          <div style="margin-bottom: 15px; margin-top: 30px;">
            <a href="confirmation.html" class="login-btn">Let's Roll</a>
          </div>
          <div>.</div>
        </div>
      </div>
    </div>

    <!-- scripts -->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
