body {
	background-image: none;
	background: -webkit-linear-gradient(#006c84, #ffccbb);
	background: -moz-linear-gradient(#006c84, #ffccbb);
	background: -o-linear-gradient(#006c84, #ffccbb);
	background: -ms-linear-gradient(#006c84, #ffccbb);
	background: linear-gradient(#006c84, #ffccbb);
}

h1,h2,h3,h4,h5,h6,a,div,span,p {
	color: #ffffff;
}

.login-btn, .dropbtn{
	background: #FE7A47;
}

.history-container{
	background-color: transparent;
	height: 25%;
	border-radius: 5px;
}
