body {
	background-image: none;
	background: -webkit-linear-gradient(#D8412F, #F5CA99);
	background: -moz-linear-gradient(#D8412F, #F5CA99);
	background: -o-linear-gradient(#D8412F, #F5CA99);
	background: -ms-linear-gradient(#D8412F, #F5CA99);
	background: linear-gradient(#D8412F, #F5CA99);
	background-height: 100%;
	background-repeat: none;
}

h1,h2,h3,h4,h5,h6,div,span,p {
	color: #ffffff;
}

.login-btn{
	background: #D8412F;
}

.home-logo {
  height: 180px;
  width: 280px;
}

.dropbtn{
	background: #FE7A47;
    border-radius: 5px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
}

.history-container{
	background-color: transparent;
	height: 25%;
	border-radius: 5px;
}

a{
	color: #000000;
    text-decoration: underline;
    cursor: hand;
}

.help{
    position: relative;
    left: 60%;
}

.glyphicon-question-sign{
	color: #D8412F;
}

.help-div{
    margin: 15px;
}